@layer components {
    .badge {
        @apply border-2 border-primary/20 text-black text-xs font-normal w-auto h-6 flex px-2.5 py-0.5 items-center justify-center rounded-full;
    }

    .badge-social {
        @apply border-2 border-primary/20 hover:bg-primary/60 transition ease-in-out cursor-pointer text-black text-xs font-normal w-6 h-6 flex items-center justify-center rounded-full;
    }
}

/* .entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
} */

.capitalize-first-letter {
    text-transform: lowercase; /* Convert all text to lowercase */
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase; /* Capitalize the first letter of each sentence */
}
